.menu-table {
	border-right: 2px solid white;
}
.table {
	padding-right: 10px;
	padding-left: 10px;
}
#poeme-body {
	font-family: "Brush Script MT, Brush Script Std", cursive;
	horizontal-align: middle;
}
#body-menu {
	margin-right: auto;
	margin-left: auto;
	color: white;
}
#jours-menu {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#jours-menu th{
	color: white;
	border: 3px solid white;
	padding: 10px;
	border-collapse: collapse;
}
table a {
	text: 1.5em white;
}
