/*CSS pour Acceuil*/
#sidebar-acceuil {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	background: #041C2C;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	border-right: 3px solid #99999A;
	color: #99999A;
	text-align: center;
	font-family: sans-serif;
}
#sidebar-acceuil h2 {
	font-weight: normal;
	font-size: 22px;
}
#sidebar-acceuil a {
  	padding: 6px 8px 6px 16px;
  	text-decoration: none;
  	font-size: 18px;
  	color: #99999A;
  	display: block;
  	text-align: left;
}
#sidebar-acceuil a:hover {
  	color: #00843D;
}
#main-acceuil {
	position: absolute;
	left: 20%;
	top: 140px;
	padding: 0px 10px;
}
#acceuil-header {
	height: 140px;
	width: 80%;
	position: fixed;
	top:0;
	right:0;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-top: 20px;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
	background: #00843D;
	
	
}

/*CSS pour le Menu*/
.menu-table {
	border-right: 2px solid white;
}
.table {
	padding-right: 10px;
	padding-left: 10px;
}
#body-menu {
	margin-right: auto;
	margin-left: auto;
	color: white;
}
#jours-menu {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	color: black;
}
#jours-menu th{
	border: 3px solid black;
	padding: 30px;
	width: 90%;
	
}
table a {
	font-size: 2em;
	color: black;
}
#menu-sidebar {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	background: #F5F5F5;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}
#main-div {
	margin-left: 20%;
	padding: 0px 10px;
}
/* CSS pour Poeme */
#poeme-body {
	font-family: "Brush Script MT, Brush Script Std", cursive;
	font-size: 35px;
}
#poeme-body h1 {
	text-align: center;
}
#poeme-body p {
	text-align: center;
	line-height: 200%;
}
#poeme-body img {
	display: block;
	float: right;
}
