.menu-table {
	border-right: 2px solid white;
}
.table {
	padding-right: 10px;
	padding-left: 10px;
}
#poeme-body {
	font-family: "Brush Script MT, Brush Script Std", cursive;
	horizontal-align: middle;
}
#jours-menu, th{
	color: white;
	border: 3px solid white;
	padding: 10px;
}
