/*CSS pour le Menu*/
.menu-table {
	border-right: 2px solid white;
}
.table {
	padding-right: 10px;
	padding-left: 10px;
}
#body-menu {
	margin-right: auto;
	margin-left: auto;
	color: white;
}
#jours-menu {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	color: black;
}
#jours-menu th{
	border: 3px solid black;
	padding: 30px;
	width: 90%;
	
}
table a {
	font-size: 2em;
	color: black;
}
#menu-sidebar {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	background: #F5F5F5;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}
#main-div {
	margin-left: 20%;
	padding: 0px 10px;
}
/* CSS pour Poeme */
#poeme-body {
	font-family: "Brush Script MT, Brush Script Std", cursive;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}
